.blur img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
            position: relative;
}
 
.blur img:hover {
  -webkit-filter: grayscale(100%) brightness(40%);
  .overlay {
  	visibility: visible;
  }
}

.imgover {
	position: absolute;
}

.overlay div:hover {
	visibility: visible;
}

.overlay {
	z-index: 10;
	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	visibility: hidden;
}

.team {
  text-align: center;
}