.overlay {
  position: relative;

  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity .25s ease;
}

.overlay:hover .overlaytext {
  visibility: visible;
  opacity: 1;
}

.overlaytext {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.3s;

  padding-top: 15%;
}

.overlaytext p {
  font-size: 1.5em;
  margin: 0;
  padding: 10px;
}

.team {
  width: 100%;
  text-align: center;
}

.team .item {
  margin: 10px;
  width: 300px;
  display: inline-block;
}